body{
	background-color: black;
    
}



h2{
    color: white;
}
.sq{
    padding: 75px;
    display: inline-block;
    
}
.one{
    background-color: red;
}
.two{
    background-color: yellow;
}
.three{
    background-color: green;
}
.four{
    background-color: blue;
}
.blanksp{
    padding: 75px;
    margin-bottom: 150px;
}